<!doctype html>
<html>
<head>
  <style>
    .header {
      background-color: #e81c4f;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    img {
      width: 4%;
      height: 4%;
    }
    body {
      position: fixed;
      margin-top: 4%;
    }
  </style>
  <title>Meadowlark Travel</title>
</head>
<body>
  <header>
    <div class="header">
      <center><img src="/img/jt.png" alt="Meadowlark Travel Logo" /></center>
    </div>
  </header>
  {{{body}}}
</body>
</html>
