<!doctype html>
<html>
<head>
  <style>
    .header {
        background-color: #e81c4f;
        /*background: url('/img/96x96.png') center #e81c4f no-repeat;*/
        position: fixed;
        height: 8%;
        top: 0;
        left: 0;
        right: 0;
    }
    img {
      display: block;
      max-height: 8%;
      position: fixed;
      margin-left: 47.5%;
    }
    .content {
      top: 8%;
      right: 0;
      left: 0;
      position: fixed;
    }
  </style>
  {{#if showTests }}
    <link rel="stylesheet" href="/vendor/mocha.css">
  {{/if }}
  <link rel="icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="rgba(#ffffff, 0)">
  <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
  <meta name="theme-color" content="rgba(#ffffff, 0)">
  <script src="/vendor/marked.js"></script>
  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  <title>Meadowlark Travel</title>
</head>
<body>
  <header>
    <div class="header">
      <img src="/img/jt.png" alt="Meadowlark Travel Logo" />
    </div>
  </header>
  <div class="content">
    {{{body}}}
  </div>
  {{#if showTests}}
  <div id="mocha"></div>
  <script src="/vendor/mocha.js"></script>
  <script src="/vendor/chai.js"></script>
  <script>
    mocha.ui('tdd');
    var assert = chai.assert;
  </script>
  <script src="/qa/tests-global.js"></script>
  {{#if pageTestScript }}
    <script src="{{pageTestScript}}"></script>
  {{/if }}
  <script>mocha.run();</script>
  {{/if}}
</body>
</html>
