<!doctype html>
<html>
<head>
  <style>
    .header {
      background-color: #e81c4f;
      position: fixed;
      height: 8%;
      top: 0;
      left: 0;
      right: 0;
    }
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    .content {
      top: 8%;
      right: 0;
      left: 0;
      position: fixed;
    }
  </style>
  {{#if showTests }}
    <link rel="stylesheet" href="/vendor/mocha.css">
  {{/if }}
  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  <title>Meadowlark Travel</title>
</head>
<body>
  <header>
    <div class="header">
      <center><img src="/img/jt.png" alt="Meadowlark Travel Logo" /></center>
    </div>
  </header>
  <div class="content">
    {{{body}}}
  </div>
  {{#if showTests}}
  <div id="mocha"></div>
  <script src="/vendor/mocha.js"></script>
  <script src="/vendor/chai.js"></script>
  <script>
    mocha.ui('tdd');
    var assert = chai.assert;
  </script>
  <script src="/qa/tests-global.js"></script>
  {{#if pageTestScript }}
    <script src="{{pageTestScript}}"></script>
  {{/if }}
  <script>mocha.run();</script>
  {{/if}}
</body>
</html>
